There are references to obsolete RFC2486.

RFC7542 obsoletes RFC2486.
It is unclear whether the reference should be updated for END_USER_NAI of Subscription-Id-Type.
But it should certainly be updated for the new Subscription-Id-NAI AVP.


From: lionel.morand@orange.com [mailto:lionel.morand@orange.com] 
Sent: Friday, May 5, 2017 3:42 PM
To: Dave Dolson; Gardella, Maryse (Nokia - FR/Nozay); Alan DeKok
Cc: dime@ietf.org list; draft-ietf-dime-rfc4006bis@ietf.org
Subject: RE : Re: [Dime] [ALU] WGLC #1 for draft-ietf-dime-rfc4006bis-02

Hi, 

RFC 6733 was published before RFC 7542, obsoleting RFC 4282. It is why RFC 4282 was still used as reference in RFC 6733. 
Using IETF rules, RFC 7242 should be used anyway for any Diameter implementation based on RFC 6733 and using NAI. 
Therefore, when updating RFC 4006, RFC 7242 should be used as reference. 

Regards, 

Lionel


Simply replaced the reference. Noted in the Changes section.