nits complaint about RFC 1738.

 ** Obsolete normative reference: RFC 1738 (Obsoleted by RFC 4248, RFC 4266)

Although neither RFC 4248 not RFC 4266 seem to discuss RFC 1738 having been made obsolete, they are tagged as being the RFCs to do so.

Anyhow, RFC 3986 updates RFC 1738, and would seem to be the appropriate normative URI reference.